{% load static %}

<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="container txt-box">
                <h1>Welcome Back to Yellow Code</h1>
                <h3>Sign in to continue</h3>
                <form class="pure-form pure-form-stacked" method="post">
                    {% csrf_token %}
                    <fieldset>
                        {{ form.non_field_errors }}

                        {% for field in form %}
                        <div class="pure-control-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                        <button class="btn btn-warning" type="submit">Login</button>
                    </fieldset>
                    <p>
                        Create User? <a href="{% url 'create' %}">Sign Up</a> <br />
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
